@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-bg {
    background: linear-gradient(135deg, #f5f7fa 0%, #85a7df 50%, #e0e7ff 100%);
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

